<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mldream.mapper.CourseNameMapper">
    <insert id="insertCourseNames">
        insert into course_name(course_name) values
        <foreach collection="courseNameList" item="courseName" separator=",">
            (#{courseName.courseName})
        </foreach>
    </insert>
</mapper>